<html lang="en">
<head>
    <meta charset="utf-8">
    <meta author="@kokdemo">
    <title>Deadline·俟现</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/flaticon.css">

</head>
<body>
<div id="main">
    <header id="header">
        <h2>Deadline·俟现</h2>
        <div id="input-important">
            <button class="green" v-on="click : addTodo('0')">!</button>
            <button class="yellow" v-on="click : addTodo('1')">!!</button>
            <button class="orange" v-on="click : addTodo('2')">!!!</button>
            <button class="red" v-on="click : addTodo('3')">!!!!</button>
        </div>
    </header>
    <div id="input" class="card">
        <input id="input-todo" type="text" v-model="todoTitle" v-on="keyup : addChildTodo | key enter">
        <div v-repeat="childTodo" class="childTodo" v-transition>
            <div class="hr"></div>
            <div class="childTodo-title" id="{{title}}" v-on="click : removeChildTodo('{{title}}')">
                <span v-if="{{$index}} > 0" class="childTodo-rank">{{$index}}. </span>
                <h3 v-if="{{$index}} == 0">{{title}}</h3>
                <span v-if="{{$index}} > 0" class="childTodo-title">{{title}}</span>
            </div>
        </div>
    </div>
    <div id="todolist">
        <div v-repeat="list:todoList">
            <div v-repeat="task:todo[list.name]" v-show="task.show" class="todolist-div todolist-{{task.time}}" v-transition>
                <div v-if="task.childTodo.length == 0">
                    <div class="todolist-title" v-if="!lock" id="{{task.title}}" v-on="click : toggleTask('{{task.title}}','{{task.time}}')">
                        <span >{{task.title}}</span>
                    </div>
                    <div class="todolist-title flaticon-tack" v-if="lock" id="{{task.title}}" v-on="click : toggleTask('{{task.title}}','{{task.time}}')">
                        <span >{{task.title}}</span>
                    </div>
                    <button v-on="click: finishTodo('{{task.title}}','{{task.time}}')" class="list-4">完事</button>
                </div>
                <div v-if="task.childTodo.length > 0">
                    <ul>
                        <li v-repeat="task.childTodo">
                            <div v-if="{{$index}} == 0" class="todolist-childTitle list-{{task.time}}">
                                {{title}}
                                <button v-on="click: finishTodo('{{task.title}}','{{task.time}}')" class="list-{{task.time}}">完事</button>
                            </div>
                            <div v-if="{{$index}} != 0" class="todolist-childtask">
                                <div class="hr"></div>
                                <span>{{$index}}. {{title}}</span>
                                <button v-on="click: finishTodo('{{task.title}}','{{task.time}}','{{title}}')" class="todolist-childFinish">完事</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="reset-button">
                <button v-on="click: deleteAll()">删除所有</button>
            </div>
    </div>

</div>
<script src="js/vue.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/app.js"></script>


<script type="text/javascript">

</script>
</body>
</html>
